/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 17, 2017, 11:30:40 AM
    Author     : server02
*/

html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
}

#main {
    overflow:auto;
    padding-bottom:150px; /* this needs to be bigger than footer height*/
}

.footer {
    position: relative;
    margin-top: -60px; /* negative value of footer height */
    height: 60px;
    clear:both;
    padding-top:0px;
    background: #F5F5F5;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

